body {
text-align: center;
background: rgb (255,255,150);
outline: 15px groove #FF3B3B;
resize: both;
overflow: auto;
min-width: 50px;
min-height: 50px;

}
h1{
font-family:"Courier New", Courier, monospace;

}
h2{
font-family:"Courier New", Courier, monospace;
background-color: rgb(255,255,255);
}
h3{
font-family:"Courier New", Courier, monospace;
background-color: rgb(255,255,200);
}
h4{
font-family:"Courier New", Courier, monospace;
}
ul{
text-align: left;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
border-radius: 20px;
background-color: rgb(255,255,255);
}
ol{
text-align: left;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
border-radius: 20px;
background-color: rgb(255,255,255);
}
p{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
border-radius: 20px;
background-color: rgb(255,255,255);
width: 100%;
overflow: auto;
min-width: 50px; /*suggest a min-width &amp; min-height*/
min-height: 50px;
}

