body {
text-align: center;
background: rgb (255,255,180);
background-repeat: repeat-y, repeat;
outline: 15px groove #FF3B3B;
resize: both;
overflow: auto;
min-width: 50px;
min-height: 50px;
-webkit-transition: all 0.75s ease-in-out;
-moz-transition: all 0.75s ease-in-out;
-ms-transition: all 0.75s ease-in-out;
-o-transition: all 0.75s ease-in-out;
transition: all 0.75s ease-in-out;
}
h1{
font-family:"Courier New", Courier, monospace;
-webkit-transition: all 0.75s ease-in-out;
-moz-transition: all 0.75s ease-in-out;
-ms-transition: all 0.75s ease-in-out;
-o-transition: all 0.75s ease-in-out;
transition: all 0.75s ease-in-out;
}
h2{
font-family:"Courier New", Courier, monospace;
background-color: rgb(255,255,255);
}
h3{
font-family:"Courier New", Courier, monospace;
background-color: rgb(255,255,200);
}
h4{
font-family:"Courier New", Courier, monospace;
}
ul{
text-align: left;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
-webkit-border-radius: 20px;
border-radius: 20px;
background-color: rgb(255,255,255);
}
ol{
text-align: left;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
-webkit-border-radius: 20px;
border-radius: 20px;
background-color: rgb(255,255,255);
}
p{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
-webkit-border-radius: 20px;
border-radius: 20px;
background-color: rgb(255,255,255);
width: 100%;
resize: both;
overflow: auto;
min-width: 50px; /*suggest a min-width &amp; min-height*/
min-height: 50px;
}
h5{
font-family: "Comic Sans MS", cursive, sans-serif;
}
